# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#***Bimi Bisht ***
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Load and read csv files
school_df = pd.read_csv("Resources/schools_complete.csv")
student_df = pd.read_csv("Resources/students_complete.csv")

In [3]:
#Merging the two csv files and displaying data
Complete_data = pd.merge(student_df, school_df, how = "left", on = ["school_name", "school_name"])
Complete_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#cCalculating the number of schools
school_count=Complete_data["school_name"].nunique()
school_count

15

In [5]:
# Total student count
student_count=Complete_data["student_name"].count()
student_count

39170

In [6]:
# Calculating total budget
total_budget= Complete_data["budget"].unique().sum()
total_budget

24649428

In [7]:
#  Calculating Average math score
avg_math_score = Complete_data["math_score"].mean()
avg_math_score

78.98537145774827

In [8]:
# Calculating Average reading score
avg_reading_score = Complete_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [9]:
# Calculating overall passing rate
overall_avg_score = (avg_reading_score + avg_math_score)/2
overall_avg_score

80.43160582078121

In [10]:
# Calculating percent of students with 70 or higher  i.e with a passing math score
Complete_data["passing math"]= Complete_data["math_score"] >= 70
percent_passing_math = (Complete_data["passing math"]).mean()*100
percent_passing_math

74.9808526933878

In [11]:
# Calculating percent of students with 70 or higher  i.e with a passing reading score
Complete_data["passing reading"]= student_df["reading_score"] >= 70
percent_passing_reading = (Complete_data["passing reading"]).mean()*100
percent_passing_reading

85.80546336482001

In [12]:
#Calculating overall passing percent
overall_passing_rate = (avg_reading_score + avg_math_score)/2
overall_passing_rate

80.43160582078121

In [13]:
# Creating dataframe
district_summary = pd.DataFrame({"Total Schools": [school_count],
                        "Total Students":[student_count],
                        "Total Budget": [total_budget],
                        "Average Reading Score": round(avg_reading_score,2),
                        "Average Math Score": round(avg_math_score,2),
                        "% Passing Math": round(percent_passing_math,2),
                         "% Passing Reading":round(percent_passing_reading,2),
# **Asked to calculate the overall passing rate by using instructions above ( It is overall passing rate not percent)                             
                         " Overall Passing Rate":round(overall_passing_rate,2)})

district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary[" Overall Passing Rate"] = district_summary[" Overall Passing Rate"].map("{:,.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",81.88,78.99,74.98%,85.81%,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [14]:
# Using merged data
Complete_data["passing math"] = Complete_data["math_score"] >= 70
Complete_data["passing reading"] = Complete_data["reading_score"] >= 70
Complete_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing math,passing reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [15]:
# groupby using school name
school_group = Complete_data.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = round(school_group["passing math"]*100,2)
school_group["% Passing Reading"] = round(school_group["passing reading"]*100,2)
school_group["% Overall Passing Rate"] = round(((school_group["passing math"] + school_group["passing reading"])/2)*100,3)

# Merging with school_df to collect information about the type, size and budget
school_data = pd.merge(school_group, school_df, how="left", on=["school_name", "school_name"])
del school_data['size_y']
del school_data['budget_y']
del school_data['Student ID']
del school_data['School ID_x']

# Creating dataframe for the results
school_sum_df = pd.DataFrame({"School Name":  school_data["school_name"],
                                "School Type": school_data["type"],
                               "Total Students":school_data["size_x"],
                               "Total School Budget": school_data["budget_x"],
                               "Per Student Budget":school_data["Per Student Budget"], 
                               "Average Math Score":round(school_data["math_score"],2),
                               "Average Reading Score":round(school_data["reading_score"],2), 
                               "% Passing Math": school_data["% Passing Math"],
                               "% Passing Reading": school_data["% Passing Reading"],
                               "% Overall Passing Rate": school_data["% Overall Passing Rate"]}) 

#Formatting
school_sum_df["Total Students"] = school_sum_df["Total Students"].map("{:,.0f}".format)
school_sum_df["Total School Budget"] = school_sum_df["Total School Budget"].map("${:,.2f}".format)
school_sum_df["Per Student Budget"] = school_sum_df["Per Student Budget"].map("${:,.2f}".format)

#Display 
school_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,74.307
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.587
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.364
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.804
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.266
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,73.808
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,94.379
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.500
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.640
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.270
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.293
11,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,94.861
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.291
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.204
14,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,94.972

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [16]:
# Finding top five performing schools
top_five_schools = school_sum_df.sort_values(["% Overall Passing Rate"],ascending= False)
top_five_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,95.587
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,95.291
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,95.270
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,95.266
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,95.204

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [17]:
# Finding the bottom performing schools(alternate method)
worst_five_schools =  top_five_schools.tail()
worst_five_schools = worst_five_schools.sort_values("% Overall Passing Rate")
worst_five_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,73.293
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,73.364
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,73.500
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,73.640
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,73.804

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [18]:
# Creating a table to get math scores by grade level
ninthgrade = student_df.loc[student_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenthgrade = student_df.loc[student_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventhgrade = student_df.loc[student_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfthgrade = student_df.loc[student_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()
math_score = pd.DataFrame({"9th": ninthgrade,
                        "10th": tenthgrade,
                        "11th": eleventhgrade,
                        "12th": twelfthgrade})
math_score = math_score[["9th","10th","11th","12th"]]
math_score.index.name =" "
math_score

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [19]:
# Creating a table to get reading scores by grade level
ninthgrade = student_df.loc[student_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenthgrade = student_df.loc[student_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventhgrade = student_df.loc[student_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfthgrade = student_df.loc[student_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()
reading_score = pd.DataFrame({"9th": ninthgrade,
                        "10th": tenthgrade,
                        "11th": eleventhgrade,
                        "12th": twelfthgrade})
reading_score = reading_score[["9th","10th","11th","12th"]]
reading_score.index.name =" "
reading_score

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [20]:
# Sample bins. Feel free to create your own bins.
#***Changed labels(group names) to creat NON overlapping ranges*** 
#---------------------------------------------------------------
# Creating bins for scores by school spending
spending_bins = [0.00, 584.99, 614.99, 644.99, 675]
group_names = ["<$585", "$585-614.99", "$615-644.99", "$645-675"]
school_data["Spending Ranges (Per Student)"] = pd.cut(school_data["Per Student Budget"], spending_bins, labels=group_names)
group_school_spending = school_data.groupby("Spending Ranges (Per Student)").mean() 
 

del group_school_spending['size_x']
del group_school_spending['budget_x']
del group_school_spending['Per Student Budget']
del group_school_spending['School ID_y']
del group_school_spending['passing math']
del group_school_spending['passing reading']



group_school_spending_renamed = group_school_spending.rename(columns={"reading_score": "Average Reading Score",
    "math_score": "Average Math Score"})
  
group_school_spending_renamed

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.933814,83.455399,93.460000,96.610000,95.035500
$585-614.99,83.885211,83.599686,94.230000,95.900000,95.065500
$615-644.99,81.891436,79.079225,75.668333,86.106667,80.887500
$645-675,81.027843,76.997210,66.163333,81.133333,73.649333

## Scores by School Size

* Perform the same operations as above, based on school size.

In [21]:
# Creating bins for scores by school size
size_bins = [0, 999, 1999, 5000]
group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [22]:
# Use 4 reasonable bins to group school size. 
school_data["School Size"] = pd.cut(school_data["size_x"], size_bins, labels=group_names)

#group by size_x
group_school_size = school_data.groupby("School Size").mean() 
group_school_size

#Remove the unwanted columns 

del group_school_size['budget_x']
del group_school_size['size_x']
del group_school_size['Per Student Budget']
del group_school_size['School ID_y']
del group_school_size['passing math']
del group_school_size['passing reading']


group_school_size_renamed = group_school_size.rename(columns={"math_score": "Average Math Score",
                                                "reading_score": "Average Reading Score" })



group_school_size_renamed

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.929843,83.821598,93.55000,96.10000,94.8245
Medium (1000-1999),83.864438,83.374684,93.59800,96.79000,95.1954
Large (2000-5000),81.344493,77.746417,69.96375,82.76625,76.3650

## Scores by School Type

* Perform the same operations as above, based on school type.

In [23]:
# Scores by school type

group_school_type = school_data.groupby("type").mean()

#Remove the unwanted columns as per the sample provided
del group_school_type['size_x']
del group_school_type['budget_x']
del group_school_type['Per Student Budget']
del group_school_type['School ID_y']
del group_school_type['passing math']
del group_school_type['passing reading']

group_school_type_renamed = group_school_type.rename(columns={"math_score": "Average Math Score",
                                                "reading_score": "Average Reading Score" })

group_school_type_renamed

,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.896421,83.473852,93.620000,96.586250,95.103750
District,80.966636,76.956733,66.548571,80.798571,73.673714

In [24]:
                    #  Written description of at least two observable trends based on the data.
                   # ----------------------------------------------------------------------------  
# The average overall passing scores are higher for charter schools than district schools.
# They have an overall Passing Rate of about 95% compared to about 73% rate of district schools.  
# Scores by school size table shows that as the school size increases, the scores drop.
# The Scores by school spending table aslo shows a drop in scores as the spending range per student is increased.